.container {
  width: 90%;
  margin:auto;
  align-items: center;
  margin-top: 5%;

  .input {
    margin: 7% 0;
    input {
      margin: 2% 0;
      padding: 2%;
      width: 80%;
      border-radius: 15px;
      border: 1px solid lightgray;
    }
  }

  .button {
    background-color: green;
    color: white;
    padding: 2% 5%;
    border-radius: 5px;
    border: none; 
  }
}