.container {
  padding-top: 5%;
  background-image:url("../images/code.jpg");
  height: 81vh;
}

.jumbotron {
  border-radius: 15px;
  width: 50%;
  margin: auto;
  padding: 6% 1.5%;
  background-color:rgba(255,255,255,.7);
  box-shadow: 1px 1px 10px 8px rgba(255,255,255, .7);
  h2 {
    font-weight: 400;
  }

  .button {
    background-color: #2f54eb;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 0.5rem 1.2rem;
  }

  .none {
    text-decoration: none;
    color: white;
  }
}