.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6% 0 2%;
  border-bottom: 2px solid black;
  background-color: beige;

  .none {
    text-decoration: none;
    color: black;
  }
  .onboarding {
    font-weight: 700;
    font-size: 1.3rem;
  }
  
  .active {
    text-decoration: underline;
  }
  .buttons {
    width: 15%;
    > * {
      margin: 0 5%;
    }
  }
}