.App {
  text-align: center;
}

.link-container {

  width: 80%;
  padding: 1% 2%;
  margin: auto;
  display:flex;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-wrap: wrap;
}
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.liked {
  color:blue;
}

.hidden {
  display: none;
}

.vote-button {
  background-color: lightgray;

  margin: auto;
  vertical-align: center;
  border: 1px solid black;
  padding: 8px;
}

