.App {
  text-align: center;
}

.link-container {
  border: 1px solid black;
  width: 20%;
  padding: 2%;
}

.links {
  display: flex;
  flex-wrap: wrap-reverse;
}

.links:nth-child(2n) {
  flex-direction: row-reverse;
}

.liked {
  color:blue;
}

.hidden {
  display: none;
}

.vote-button {
  background-color: lightgray;
  width: 30%;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
}
